:root {
    --primary-color: #993838;
    --primary-light-color: #99383877;
    --secondary-color: #FCC473;
    --tertiary-color: #00ffd8;
}

body {
    margin: 0;
    padding: 0;
}

[data-color="primary"] {
    color: var(--primary-color);
}

[data-color="secondary"] {
    color: var(--secondary-color);
}

#lgbtqia {
    width: 100%;
    min-height: 100vh;
    background: url(../infographics/interactive-names/bg-overlay.png) no-repeat fixed center;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
    font-size: 16px;
}

@media (max-width: 700px) {
    #lgbtqia {
        font-size: 12px;
    }
}

#lgbtqia>* {
    box-sizing: border-box;
}

.lgbtqia-main-container {
    display: block;
    border: 1px solid transparent;
    padding: 2em 2em 4em 2em;
    border-image-source: url(../infographics/interactive-names/border.svg);
    border-image-repeat: round;
    border-image-slice: 180;
    border-image-width: 170px;
    overflow: hidden;
}

.lgbtqia-header {
    min-height: 80px;
    max-height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lgbtqia-header img {
    height: min(80%, 3vw);
    width: min(50vw, 200px);
}

.lgbtqia-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: min(50em, 90%);
    margin: 0 auto;
}

.lgbtqia-text-container>* {
    z-index: 1;
}

.lgbtqia-text-container .lgbtqia-divider-container>img {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.lgbtqia-main-text[data-result-active="true"] {
    display: none;
}

.lgbtqia-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lgbtqia-btn-container[data-result-active="true"] {
    display: none;
}

.lgbtqia-btn-container button,
.lgbtqia-result-container .btn-container button {
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    padding: 0.8em 3.5em;
    transition: all 0.2s ease-in-out;
}

.lgbtqia-btn-container button:hover,
.lgbtqia-result-container .btn-container button:hover {
    background-color: var(--primary-light-color);
}

.lgbtqia-btn-container button:disabled,
.lgbtqia-result-container .btn-container button:disabled {
    background-color: var(--primary-light-color);
    cursor: not-allowed;
    border-color: transparent;
}

.lgbtqia-result-container[data-result-active="true"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff88;
    padding: 2em 4em;
    box-sizing: border-box;
    border-radius: 2em;
    margin: 1em auto;
    gap: 3em;
    width: min(1400px, var(--max-width));
}

.lgbtqia-result-container[data-result-active="true"] .text-container {
    text-align: left;
}

.lgbtqia-result-container[data-result-active="true"] .text-container .btn-container {
    text-align: right;
}

@media screen and (max-width: 700px) {
    .lgbtqia-result-container[data-result-active="true"] .text-container .btn-container {
        text-align: center;
    }
    
    .lgbtqia-result-container[data-result-active="true"] {
        padding: 2em;
    }
}

.lgbtqia-result-container[data-result-active="false"] {
    display: none;
}

/* flipable card css */

.lgbtqia-result-container .card-container .card {
    --card-border-radius: 1.5em;
    --result-card-height: min(calc(var(--card-height) * 3), 80vw);
    height: var(--result-card-height, 300px);
    width: calc(var(--result-card-height) * 60 / 103);
    height: var(--result-card-height);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
    background-color: transparent;
}

.lgbtqia-result-container .card-container .card .card--inner {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px 5px #0004;
    border: 0;
    transform: rotateY(0deg);
    border-radius: var(--card-border-radius, 10px);
}

.lgbtqia-result-container .card-container .card .card--inner.is-flipped {
    transform: rotateY(180deg);
}

.lgbtqia-result-container .card-container .card--face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--card-border-radius, 10px);
    overflow: hidden;
}

.lgbtqia-result-container .card-container .card--face-front {
    background: var(--card-bg-url, linear-gradient(black, gray, right)) no-repeat center;
    background-size: cover;
}

.lgbtqia-result-container .card-container .card--face-back {
    transform: rotateY(180deg);
    background: white;
    padding: 1em 1.25em;
}

.lgbtqia-result-container .card-container .card--face-back .face-back-image {
    background: var(--card-front-img, url(../infographics/interactive-names/cards/the-fool.svg)) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:1200px) {
    .lgbtqia-main-container {
        border-image-slice: 178;
        border-image-width: 228px;
    }
}

@media (max-width:1024px) {
    .lgbtqia-result-container[data-result-active="true"] {
        flex-direction: column;
    }

    .lgbtqia-main-container {
        border-image-slice: 140;
        border-image-width: 190px;
    }
}

@media screen and (max-width: 500px) {
    .lgbtqia-main-container {
        border-image-slice: 100;
    }    
}

@media screen and (max-width: 400px) {
    .lgbtqia-main-heading h1 {
        font-size: 2.5em;
    }
    
    .lgbtqia-subheading h2 {
        font-size: 1.5em;
    }  
}