@font-face {
    font-family: 'Verdana';
    src: url(../infographics/fonts/Verdana.ttf) format('truetype');
}

@font-face {
    font-family: 'Verdana Bold';
    src: url(../infographics/fonts/VerdanaBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    src: url(../infographics/fonts/DancingScript.ttf) format('truetype');
}


[data-font-family="verdana-regular"] {
    font-family: 'Verdana';
    font-weight: 400;
}

[data-font-family="verdana-bold"] {
    font-family: 'Verdana Bold';
    font-weight: bold;
}

[data-font-family="dancing-script"] {
    font-family: 'Dancing Script';
    font-weight: 400;
}


.lgbtqia-subheading h2 {
    margin-bottom: 0;
    margin-top:18px;
    animation: font-size-animation-1-reverse 0.5s ease-in-out forwards;
}

.lgbtqia-subheading h2[data-result-active="true"] {
    animation: font-size-animation-1 0.5s ease-in-out forwards;
}

@keyframes font-size-animation-1 {
    0% {
        font-size: 2.75em;
    }
    100% {
        font-size: 2.1em;
    }    
}

@keyframes font-size-animation-1-reverse {
    0% {
        font-size: 2.1em;
    }
    100% {
        font-size: 2.75em;
    }    
}

.lgbtqia-main-heading h1 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    animation: font-size-animation-2-reverse 0.5s ease-in-out forwards;
}

.lgbtqia-main-heading h1[data-result-active="true"] {
    animation: font-size-animation-2 0.5s ease-in-out forwards;
}

@keyframes font-size-animation-2 {
    0% {
        font-size: 4em;
    }
    100% {
        font-size: 3.5em;
    }    
}

@keyframes font-size-animation-2-reverse {
    0% {
        font-size: 3.5em;
    }
    100% {
        font-size: 4em;
    }    
}

.lgbtqia-main-text p {
    font-size: 1.2em;
}

#lgbtqia button {
    font-size: 1em;
}

.lgbtqia-result-container h2 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.lgbtqia-result-container p {
    font-size: 1.1em;
    line-height: 30px;
}
